/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#grid {
    height: 500px;
    width: 500px;
    margin: 50px auto;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}
.cell.bg-blue {
    background-color: lightskyblue;
}