/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#grid {
    height: 500px;
    width: 500px;
    margin: 50px auto;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: calc(100% / 10);
    width: calc(100% / 10);
}
.cell-1 {
    height: calc(100% / 10);
    width: calc(100% / 10);
}
.cell-2 {
    height: calc(100% / 9);
    width: calc(100% / 9);
}
.cell-3 {
    height: calc(100% / 7);
    width: calc(100% / 7);
}
.cell.bg-blue {
    background-color: lightskyblue;
}